<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-7">
<div ng-app="todoApp" ng-controller="loginController">

   

    <!-- FORM ============ -->
  <h2>Форма входа </h2>
    <form name="userForm" ng-submit="submitForm()" novalidate>
      
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Логин</label>
            <input type="text" name="username" class="form-control" ng-model="username" ng-minlength="3" ng-maxlength="8" required>

            <p ng-show="userForm.username.$error.minlength" class="help-block">От трех символов</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Не больше восьми символов</p>
        </div>
        
       <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Пароль</label>
            <input type="password" name="password" class="form-control" ng-model="password" autocomplete="new-password" required>

            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Введите пароль</p>
        </div>

       <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Войти</button>
         или <a href="/sign-up">Зарегистрироваться</a> 
        
    </form>

  

</div>
</div>
<div class="col"></div></div></div>